{{template "header"}}

{{ if .When }}
<h1>Time until {{ .When }}</h1>
{{ else }}
<form action="/set" method="POST">
<input name=due type=datetime-local>
<input name=timezone type=hidden>
<input type="submit">
</form>
<script>
document.addEventListener('DOMContentLoaded', () => {
document.forms[0].elements["timezone"].value = Intl.DateTimeFormat().resolvedOptions().timeZone
// https://stackoverflow.com/a/45002433/4534
var tzoffset = (new Date()).getTimezoneOffset() * 60000; //offset in milliseconds
var localISOTime = (new Date(Date.now() - tzoffset)).toISOString().slice(0,-1);
var localISOTimeWithoutSeconds = localISOTime.slice(0,16);
document.forms[0].elements["due"].value = localISOTime.slice(0,16);
})
</script>
{{ end }}

{{template "footer"}}
